/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  /*background-image: url(../images/cover-image.png);*/
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: var(--background-image);
  background-color: var(--main-background-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: flex-start;
  /*justify-items: end; */
  min-width: 375px;
  height: 100%;
  padding: 10px;
  position: relative;
}



.decorated-zone {
  overflow: hidden;
}

.header__theme-menu {
  position: relative;
  inset-block-start: 50px;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column; /* Располагаем в колонке */
  align-items: flex-end
}

.header__theme-menu-button {
  display: flex;
  background: none;
  outline: none;
  text-decoration: none;
  color: var(--button-color);
  text-align: center;
  font-family: 'IBM Plex Mono', Arial, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  margin-bottom: 13px;
}

.header__theme-menu-button_type_dark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.header__theme-menu-button:hover {
  border: var(--border-button-color-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-underline-offset: 5px;
  outline: 0;
}

.rec {
  font-family: 'IBM Plex Mono', Arial, monospace;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  color: var(--rec-color);
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.rec::after {
  content: "";
  width: 25px;
  height: 25px;
  border-right: var(--decoration-border-right);
  border-top: var(--decoration-border-top);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rec::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--rec-bg-color);
  border-radius: 50%;
  filter: var(--rec-shadow);
  position: absolute;
  right: 10px;
}

.header__title {
  color: var(--header-text-color);
  font-family: "IBM Plex Mono", Arial, monospace;
  text-shadow: var(--text-shadow);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  position: relative;
}

.header__discription {
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
}

.header__discription-text {
  width: 355px;
  color: var(--text-section-color);
  font-family: "IBM Plex Mono", Arial, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title-decor {
  background-color: var(--bg-text-color);
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border-left: var(--decoration-border-left);
  border-bottom: var(--decoration-border-bottom);
  display: flex;
  align-items: start;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.main_content {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 375px;
  padding: 10px;
}

.main_title {
  color: var(--main-title-section-text);
  font-family: "IBM Plex Mono", Arial, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-top: 40px;
}

.title_section {
  color: var(--text-section-color);
  font-family: "IBM Plex Mono", Arial, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}



.text_section {
  color: var(--main-text-color);
  font-family: "IBM Plex Mono", Arial, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.text_link {
  color: var(--link-text-color);
  text-shadow: var(--link-text-shadow);
  text-decoration: none;
}

.text_link:hover {
  text-decoration: underline;
  gap: 2px;
}

.text_link:focus-visible {
  text-decoration: none;
  outline: none;
  border: var(--border-button-color);
}

.mini_title-section {
  color: var(--text-section-color);
  font-family: "IBM Plex Mono", Arial, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.pictures {
  display: grid;

}

.picture-grid {
  display: grid;
  gap: 20px;
}

.picture_section {
  color: var(--text-section-color);
  font-family: "IBM Plex Mono", Arial, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.picture {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  grid-template-rows: auto;
  min-width: 375px;
  height: 100%;
  padding: 10px;
  position: relative;
}

.footer__title {
  color: var(--header-text-color);
  text-shadow: var(--text-shadow);
  font-family: "IBM Plex Mono", Arial, monospace;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  display: flex;
  justify-self: center;
  align-self: center;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  border-right: var(--decoration-border-right);
  border-top: var(--decoration-border-top);
  inset-block-start: 10px;
  position: absolute;
  inset-inline-end: 10px;

}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border-left: var(--decoration-border-left);
  border-bottom: var(--decoration-border-bottom);
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

@media (min-width: 769px) {
  .header {
    min-width: 769px;
    min-height: 1024px;
  }

  .header__title {
    text-align: left;
  }

  .section-two-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: start;
    
  }

  .text_section {
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .title_section {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .section-five-rows {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: start;
    
  }

  .text_section {
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .title_section {
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .mini_title-section {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .picture-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .picture_sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .picture_ice-cream {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .picture_tape {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  .picture_street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

@media (min-width: 1024px) {
  .section-three-columns { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: start; 
    justify-content: center; 
    grid-column-gap: 20px; 
  } 
  .title_three-columns {
    grid-column: span 3;
  }

  .header__title {
    text-align: left;
  }

  .header__discription {
    padding-top: 114px;
  }

  .header__discription-text {
    width: 491px;
  }


.header__theme-menu {
  grid-row-start: 1;
  grid-row-end: 1;
  inset-block-start: -10px;
}

  .header__theme-menu-list {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }

}

